*{
    margin: 0;
    padding: 0;
}
body {
    padding: 30px;
}

.header {
    height: 95vh;
    background-image: 
    linear-gradient(to right bottom, rgba(212,106,106,0.1),
    rgba(255,170,170,0.7)),
    url("https://images.unsplash.com/photo-1564760055775-d63b17a55c44?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1356&q=80");
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}

h1 {
    font-size: 50px;
    letter-spacing: 12px;
    color: #fff;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
}