body {
    font-family: sans-serif;
    text-align: center;
}

.container {
    width: 500px;
    margin: auto;
    margin-top: 70px;
    position: relative;
}

/* overlay avec texte au milieu et contour opaque */
/* 
img {
    width: 100%;
    height: auto;
    transition: 0.5s;
}
.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.text {
    background-color: #4caf50;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
    opacity: 0;
}
.container:hover img {
    opacity: 0.3;
}
.container:hover .text{
    opacity: 1;
} */




/* Overlay zoom du centre avec texte */
/* img {
    width: 100%;
    height: auto;
}
.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.8);
    overflow: hidden;
    width: 100%;
    height: 100%;
    transform: scale(0);
    transition: 0.3s;
}
.text {
    color: #fff;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.container:hover .overlay {
    transform: scale(1);
} */


/* Overlay slide */
img {
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0%;
    background: #008cba;
    overflow: hidden;
    transition: 0.5s;
}
.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.container:hover .overlay {
    height: 100%;
}
